.container{

    display: grid;
    grid-template-rows: 10vh 75vh  10vh;
    grid-template-areas: "he he he he he"
                         "as1 ma ma ma as2"
                         "fo fo fo fo fo ";
}


.header{
    grid-area: he;
    background-color: yellow;
}

.main{
    grid-area: ma;
    background-color: aqua;
}

.aside1{
    grid-area: as1;
    background-color: black;
}

.aside2{
    grid-area: as2;
    background-color: orange;
}
.footer{
    grid-area: fo;
    background-color: red;
}